<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;">1.a.The e-commerce business vertical of Amazon â€“ a multinational technology company based in Seattle, has determined that its annual profit is normally 33 percent of its total sales revenue. Write a python program that takes the sales revenue as user input and returns the profit for Amazon.

Sample Input: 65436

Sample Output: $21,593.88

In [13]:
sales_revenue=float(input('Enter the sales revenue : '))
profit=(sales_revenue*33)/100
print('The profit is ${}'.format(profit))

Enter the sales revenue : 65436
The profit is $21593.88

## <span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;"> 1.b. Write a code snippet in python to swap two numbers without using a temporary variable and also without using any arithmetical operations.

In [3]:
a=int(input('a= '))
b=int(input('b= '))
a,b=b,a
print('a=',a)
print('b=',b)

a= 4
b= 5
a= 5
b= 4

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;">1.c. Print as follows "The total amount to pay for 4 quantities of item no 200 is Rs. 50" using the data given below 

qty = 4

item_number = 200

price = 50.00

In [2]:
qty = 4
item_number = 200
price = 50.00
print('The total amount to pay for {} quantities of item no {} is Rs.{}'.format(qty,item_number,int(price)))

The total amount to pay for 4 quantities of item no 200 is Rs.50

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;"> 2.a. Write a python program to create a dictionary from the given list such that the key is the index and value is the corresponding element in the list. Use dictionary comprehension. 
    
    nums = [4,2,2,1,3]

In [5]:
nums = [4,2,2,1,3]
dict={i:y for i,y in enumerate(nums)}
print(dict)

{0: 4, 1: 2, 2: 2, 3: 1, 4: 3}

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;"> 2.b. Create another list from the given list without the duplicates. 
    
list1 = [2,3,4,5, 6,5,6,7]

In [6]:
list1 = [2,3,4,5, 6,5,6,7]
list2=set(list1)
list2=list(list2)
print(list2)

[2, 3, 4, 5, 6, 7]

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;"> 2.c. Two sets are given below. One set contains the name of players who played in World Cup 2011. The other set contains the name of players who played in World Cup 2015.       

WCup2011 = {'Dhoni', 'Sehwag', 'Raina', 'Tendulkar', 'Gambhir', 'Kohli', 'Yuvraj', 'Yufsuf'}

WCup2015 = {'Dhoni', 'Dhawan', 'Raina', 'Rohit', 'Rahane', 'Kohli', 'Jadeja', 'Rayudu'}

Perform the following tasks.

Find the list of all players who played in either the 2011 or 2015 World Cup.

Find the list of players who played for both the 2011 and 2015 World Cup.

In [17]:
WCup2011 = {'Dhoni', 'Sehwag', 'Raina', 'Tendulkar', 'Gambhir', 'Kohli', 'Yuvraj', 'Yufsuf'}

WCup2015 = {'Dhoni', 'Dhawan', 'Raina', 'Rohit', 'Rahane', 'Kohli', 'Jadeja', 'Rayudu'}
print((WCup2011-WCup2015) and (WCup2015-WCup2011))
print(WCup2011|WCup2015)

{'Jadeja', 'Rohit', 'Rayudu', 'Rahane', 'Dhawan'}
{'Jadeja', 'Tendulkar', 'Raina', 'Rohit', 'Yuvraj', 'Gambhir', 'Sehwag', 'Rayudu', 'Dhoni', 'Rahane', 'Yufsuf', 'Dhawan', 'Kohli'}

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;"> 3. Write a program which accepts a range of numbers from the user and prints all the armstrong numbers in that given interval? 

Note :A number is called Armstrong number if it is equal to the sum of the cubes of its own digits.

    For example: 407 is an Armstrong number since 407 = 4*4*4 + 0*0*0 + 7*7*7
Output : Armstrong nos. in the given range (100,1000) - 153, 370, 371, 407

In [1]:
n=int(input('Enter the lower range : '))
m=int(input('Enter the upper range : '))
for num in range(n,m+1):
    s=0
    order=len(str(num))
    t=num
    while(t>0):
        d=t%10
        s=s+d**(order)
        t=t//10
    if(num==s):
        print(num)

Enter the lower range : 100
Enter the upper range : 1000
153
370
371
407

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0a7a78;"> 4. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) 

Formula : wMoon = (wEarth * GMoon) / GEarth

Weight of people in kg
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}      

Gravitational force on the Moon: 1.622 m/s2
GMoon = 1.622                                              

Gravitational force on the Earth: 9.81 m/s2
GEarth = 9.81                                              
Output: 
Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [8]:
WEarth = {'John':45, 'Shelly':65, 'Marry':35} 
GMoon = 1.622 
GEarth = 9.81
m = lambda x: round(((x*GMoon)/GEarth),2)
mw=list(map(m,WEarth.values()))
l=WEarth.keys()
m=mw
d={}
for i in l:
    for j in mw:
        d[i]=j
        mw.remove(j)
        break
        
print('Weight on earth is',WEarth)
print('Weight on moon',d)

Weight on earth is {'John': 45, 'Shelly': 65, 'Marry': 35}
Weight on moon {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

--------

--------